.main {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #04AA6D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
  font-size: small;
  margin: 0 10px 0 0;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}